<% content_for :title do %>
    Welcome
<% end %>

<% if @books.any? %>
    <div>
      <ul id="book_list">
        <% @books.each do |book| %>
            <li class="book_item"><%= link_to book.title, book %></li>
        <% end %>
      </ul>
    </div>
<% else %>
    <div class="notice">
      <h1>No books in stock!</h1>

      <p>please try again later, or alternatively add a new book!</p>
    </div>
<% end %>