<% unless notice.nil? %>
    <div class="notice">
      <p><%= notice %></p>
    </div>
<% end %>

<% content_for :title do %>
    Book: <%= @book.title %>
<% end %>

<div class="availability">
  <p>Availability:
    <% if @book.available? %>
        <span class="available">Available</span>
    <% else %>
        <span class="borrowed">Borrowed</span>
    <% end %>
  </p>
</div>