/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
  background-color: #85bfff;
  text-shadow: rgba(0, 0, 0, 0.75) 0.05em 0.05em 0.05em;
  font-family: verdana, arial, serif;
  color: #e1e1e1;
}

a {
  text-decoration: none;

  &:visited, &:hover {
    color: white;
    font-weight: bold;
  }
  &:hover {
    text-decoration: underline;
  }
}

div, fieldset {
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.5) 0.25em 0.25em 0.25em;
  margin: 0.5em;
}

div {
  background-color: #ffffff;
  padding: 0.5em;
  color: #00006a;
  a {
    &:visited, &:hover {
      color: #00006a;
    }
  }
}

